body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}

.editor {
    position: absolute;
}

.form-label {
    padding: 10px;

}

.input {
    align-self:self-end;
}

.modal {
    position: fixed;
    top: 10%;
    padding: 30px 30px;
    border-radius: 8px;
    background-color: white;
    z-index: 60000;
    width: fit-content;
    min-height: 30%;
    display: none;
    left: 50%;
    margin-left: -200px;
    max-height: 80%;
    min-width: 30%;
}


.modal-js-overlay {
    background: #444;
    opacity: .8;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 1000px;
    z-index: 20000;
    left: 0px;
}

.modal-js-close {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: black;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 1px;
    top: -10px;
    right: -10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.text-area {
    width: 100%;
    height: 90%;
}

.modal-title {
    position: absolute;
    display: grid;
    padding: 2%;
}

.modal-submit {
    position: absolute;
    height: 20px;
    width: 60px;
    align-self: end;
    margin: 3%;
}

.table {
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    height: 20px;
}


